USE MASTER
ALTER DATABASE KTX SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
DROP DATABASE KTX;
USE MASTER
CREATE DATABASE KTX
USE [KTX]
GO
/****** Object:  Table [dbo].[ChiTietPhieuThu]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuThu](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuThu] [int] NULL,
	[LoaiKhoanThu] [nvarchar](100) NULL,
	[SoTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhong]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhong](
	[MaChiTietPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [nvarchar](50) NULL,
	[MaThietBi] [nvarchar](50) NULL,
	[Giuong] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSuaChua]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSuaChua](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaYCSC] [int] NULL,
	[MaThietBi] [nvarchar](50) NULL,
	[MoTaLoi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatChoTruoc]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatChoTruoc](
	[MaDatCho] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](20) NOT NULL,
	[SDT] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](20) NULL,
	[MaChiTietPhong] [int] NULL,
	[NgayDat] [date] NULL,
	[HanDat] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatCho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[MaDiemDanh] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](20) NULL,
	[ThoiGian] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK__DiemDanh__1512439DA869BBBB] PRIMARY KEY CLUSTERED 
(
	[MaDiemDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DienNuoc]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienNuoc](
	[MaDN] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [nvarchar](50) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[SoDienCu] [int] NULL,
	[SoNuocCu] [int] NULL,
	[SoDienMoi] [int] NULL,
	[SoNuocMoi] [int] NULL,
	[MaMucGia] [int] NULL,
	[MaNV] [nvarchar](50) NULL,
 CONSTRAINT [PK__DienNuoc__2725866F7E1693D7] PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giuong]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giuong](
	[MaGiuong] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Giuong] PRIMARY KEY CLUSTERED 
(
	[MaGiuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongNoiTru]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongNoiTru](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](20) NULL,
	[MaGiuong] [nvarchar](50) NULL,
	[MaPhong] [nvarchar](50) NULL,
	[NgayDangKy] [date] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[DotDangKy] [nvarchar](50) NULL,
	[NhomTruong] [nchar](10) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TrangThaiDuyet] [nvarchar](50) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[MinhChungThanhToan] [nvarchar](255) NULL,
	[MaNamHoc] [nchar](10) NULL,
	[MaNV] [nvarchar](50) NULL,
 CONSTRAINT [PK__HopDongN__36DD43425E6FB1E7] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [nvarchar](50) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuRaVao]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuRaVao](
	[MaLuot] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](20) NULL,
	[ThoiGian] [datetime] NULL,
	[TrangThai] [nvarchar](10) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[ViTri] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [nvarchar](50) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[SucChua] [int] NULL,
	[MucPhi] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MucGiaDienNuoc]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MucGiaDienNuoc](
	[MaMucGia] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianApDung] [date] NULL,
	[DonGiaDien] [money] NULL,
	[DonGiaNuoc] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMucGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NamHoc]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamHoc](
	[MaNamHoc] [nchar](10) NOT NULL,
	[TenNamHoc] [nchar](10) NULL,
 CONSTRAINT [PK_NamHoc] PRIMARY KEY CLUSTERED 
(
	[MaNamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiQuy]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiQuy](
	[MaNoiQuy] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNoiQuy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[OTP] [nvarchar](50) NULL,
	[Token] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[HoTen] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[AnhDaiDien] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [nvarchar](20) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[TrinhDo] [nvarchar](50) NULL,
 CONSTRAINT [PK__NhanVien__2725D70A5CDBDDB8] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThu]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThu](
	[MaPhieuThu] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NULL,
	[NgayLap] [date] NULL,
	[TongTien] [money] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaNV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [nvarchar](50) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[MaLoaiPhong] [nvarchar](50) NULL,
	[MaTang] [nchar](10) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK__Phong__20BD5E5B90BF245E] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [nvarchar](20) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[HoTen] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [nvarchar](50) NULL,
	[Lop] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[SoCanCuoc] [nvarchar](20) NULL,
	[SDTGiaDinh] [nvarchar](20) NULL,
	[SoHoKhau] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[AnhDaiDien] [nvarchar](50) NULL,
	[MaKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK__SinhVien__2725081A4026EF04] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tang]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tang](
	[MaTang] [nchar](10) NOT NULL,
	[TenTang] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tang] PRIMARY KEY CLUSTERED 
(
	[MaTang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThietBi]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThietBi](
	[MaThietBi] [nvarchar](50) NOT NULL,
	[TenThietBi] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
	[SoLuong] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViPham]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViPham](
	[MaViPham] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](20) NULL,
	[MaNoiQuy] [int] NULL,
	[NgayViPham] [date] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[HinhThucXuLy] [nvarchar](255) NULL,
	[MucDoXuLy] [nvarchar](50) NULL,
	[MaNV] [nvarchar](50) NULL,
	[FileBienBan] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaViPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauSuaChua]    Script Date: 6/6/2025 3:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauSuaChua](
	[MaYCSC] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](20) NULL,
	[MaPhong] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayGui] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaNV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYCSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuThu] ON 

INSERT [dbo].[ChiTietPhieuThu] ([MaChiTiet], [MaPhieuThu], [LoaiKhoanThu], [SoTien]) VALUES (1, 1, N'Phí phòng', 1500000.0000)
INSERT [dbo].[ChiTietPhieuThu] ([MaChiTiet], [MaPhieuThu], [LoaiKhoanThu], [SoTien]) VALUES (2, 2, N'Phí điện', 400000.0000)
INSERT [dbo].[ChiTietPhieuThu] ([MaChiTiet], [MaPhieuThu], [LoaiKhoanThu], [SoTien]) VALUES (3, 3, N'Phí nước', 300000.0000)
SET IDENTITY_INSERT [dbo].[ChiTietPhieuThu] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhong] ON 

INSERT [dbo].[ChiTietPhong] ([MaChiTietPhong], [MaPhong], [MaThietBi], [Giuong]) VALUES (1, N'KTX-01-01', N'TB001', N'KTX-01-01-01')
INSERT [dbo].[ChiTietPhong] ([MaChiTietPhong], [MaPhong], [MaThietBi], [Giuong]) VALUES (2, N'KTX-01-01', N'TB002', N'KTX-01-01-01')
INSERT [dbo].[ChiTietPhong] ([MaChiTietPhong], [MaPhong], [MaThietBi], [Giuong]) VALUES (3, N'KTX-01-01', N'TB002', N'KTX-01-01-02')
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietSuaChua] ON 

INSERT [dbo].[ChiTietSuaChua] ([MaChiTiet], [MaYCSC], [MaThietBi], [MoTaLoi]) VALUES (1, 1, N'TB001', N'Đèn trần không sáng, cần thay bóng mới.')
INSERT [dbo].[ChiTietSuaChua] ([MaChiTiet], [MaYCSC], [MaThietBi], [MoTaLoi]) VALUES (3, 1, N'TB002', N'Quạt trần chạy chậm, nghi ngờ hỏng động cơ.')
INSERT [dbo].[ChiTietSuaChua] ([MaChiTiet], [MaYCSC], [MaThietBi], [MoTaLoi]) VALUES (4, 1, N'TB004', N'Cửa sổ bị kẹt, bản lề cần tra dầu hoặc thay mới.')
SET IDENTITY_INSERT [dbo].[ChiTietSuaChua] OFF
GO
SET IDENTITY_INSERT [dbo].[DienNuoc] ON 

INSERT [dbo].[DienNuoc] ([MaDN], [MaPhong], [NgayBatDau], [NgayKetThuc], [SoDienCu], [SoNuocCu], [SoDienMoi], [SoNuocMoi], [MaMucGia], [MaNV]) VALUES (1, N'KTX-01-01', CAST(N'2024-01-01' AS Date), CAST(N'2024-02-01' AS Date), 100, 10, 150, 12, 2, N'NV001')
INSERT [dbo].[DienNuoc] ([MaDN], [MaPhong], [NgayBatDau], [NgayKetThuc], [SoDienCu], [SoNuocCu], [SoDienMoi], [SoNuocMoi], [MaMucGia], [MaNV]) VALUES (2, N'KTX-01-01', CAST(N'2024-02-01' AS Date), CAST(N'2024-03-01' AS Date), 95, 8, 145, 11, 2, N'NV001')
INSERT [dbo].[DienNuoc] ([MaDN], [MaPhong], [NgayBatDau], [NgayKetThuc], [SoDienCu], [SoNuocCu], [SoDienMoi], [SoNuocMoi], [MaMucGia], [MaNV]) VALUES (3, N'KTX-01-01', CAST(N'2024-03-01' AS Date), CAST(N'2024-04-01' AS Date), 110, 12, 160, 14, 2, N'NV001')
SET IDENTITY_INSERT [dbo].[DienNuoc] OFF
GO
INSERT [dbo].[Giuong] ([MaGiuong], [TrangThai]) VALUES (N'KTX-01-01-01', N'Trống')
INSERT [dbo].[Giuong] ([MaGiuong], [TrangThai]) VALUES (N'KTX-01-01-02', N'Trống')
INSERT [dbo].[Giuong] ([MaGiuong], [TrangThai]) VALUES (N'KTX-01-01-03', N'Trống')
GO
SET IDENTITY_INSERT [dbo].[HopDongNoiTru] ON 

INSERT [dbo].[HopDongNoiTru] ([MaHopDong], [MaSV], [MaGiuong], [MaPhong], [NgayDangKy], [NgayBatDau], [NgayKetThuc], [DotDangKy], [NhomTruong], [TrangThai], [TrangThaiDuyet], [PhuongThucThanhToan], [MinhChungThanhToan], [MaNamHoc], [MaNV]) VALUES (1, N'2001216001', N'KTX-01-01-01', N'KTX-01-01', CAST(N'2023-07-01' AS Date), CAST(N'2023-09-01' AS Date), CAST(N'2025-06-30' AS Date), N'Đợt 1', N'1         ', N'Đang sử dụng', N'Đã duyệt', N'Chuyển khoản', N'TXN2023001', N'NH2023    ', N'NV001')
INSERT [dbo].[HopDongNoiTru] ([MaHopDong], [MaSV], [MaGiuong], [MaPhong], [NgayDangKy], [NgayBatDau], [NgayKetThuc], [DotDangKy], [NhomTruong], [TrangThai], [TrangThaiDuyet], [PhuongThucThanhToan], [MinhChungThanhToan], [MaNamHoc], [MaNV]) VALUES (2, N'2001216002', N'KTX-01-01-02', N'KTX-01-01', CAST(N'2023-07-02' AS Date), CAST(N'2023-09-01' AS Date), CAST(N'2025-06-30' AS Date), N'Đợt 1', N'0         ', N'Đang sử dụng', N'Đã duyệt', N'Tiền mặt', N'TXN2023002', N'NH2023    ', N'NV002')
INSERT [dbo].[HopDongNoiTru] ([MaHopDong], [MaSV], [MaGiuong], [MaPhong], [NgayDangKy], [NgayBatDau], [NgayKetThuc], [DotDangKy], [NhomTruong], [TrangThai], [TrangThaiDuyet], [PhuongThucThanhToan], [MinhChungThanhToan], [MaNamHoc], [MaNV]) VALUES (3, N'2001216003', N'KTX-01-02-01', N'KTX-01-02', CAST(N'2023-07-03' AS Date), CAST(N'2023-09-01' AS Date), CAST(N'2025-06-30' AS Date), N'Đợt 2', N'1         ', N'Hủy', N'Từ chối', N'Chuyển khoản', NULL, N'NH2023    ', N'NV001')
SET IDENTITY_INSERT [dbo].[HopDongNoiTru] OFF
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CK', N'Cơ khí')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNCT', N'Công nghệ chế tạo')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNĐT', N'Công nghệ điện tử')
GO
SET IDENTITY_INSERT [dbo].[LichSuRaVao] ON 

INSERT [dbo].[LichSuRaVao] ([MaLuot], [MaSV], [ThoiGian], [TrangThai], [HinhAnh], [ViTri], [GhiChu]) VALUES (1, N'2001216060', CAST(N'2025-05-23T08:28:55.377' AS DateTime), N'Vào', N'D:\KTX_RaVao\AnhQuet\2001216060_20250523_082855.jpg', N'Cổng chính', NULL)
INSERT [dbo].[LichSuRaVao] ([MaLuot], [MaSV], [ThoiGian], [TrangThai], [HinhAnh], [ViTri], [GhiChu]) VALUES (2, N'2001216060', CAST(N'2025-05-23T08:29:21.277' AS DateTime), N'Ra', N'D:\KTX_RaVao\AnhQuet\2001216060_20250523_082921.jpg', N'Cổng chính', NULL)
INSERT [dbo].[LichSuRaVao] ([MaLuot], [MaSV], [ThoiGian], [TrangThai], [HinhAnh], [ViTri], [GhiChu]) VALUES (3, N'2001216060', CAST(N'2025-05-23T08:29:40.833' AS DateTime), N'Vào', N'D:\KTX_RaVao\AnhQuet\2001216060_20250523_082940.jpg', N'Cổng chính', NULL)
SET IDENTITY_INSERT [dbo].[LichSuRaVao] OFF
GO
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoai], [SucChua], [MucPhi]) VALUES (N'LP001', N'Phòng thường', 4, 500000.0000)
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoai], [SucChua], [MucPhi]) VALUES (N'LP002', N'Phòng VIP', 2, 1500000.0000)
GO
SET IDENTITY_INSERT [dbo].[MucGiaDienNuoc] ON 

INSERT [dbo].[MucGiaDienNuoc] ([MaMucGia], [ThoiGianApDung], [DonGiaDien], [DonGiaNuoc]) VALUES (1, CAST(N'2021-01-01' AS Date), 3500.0000, 5000.0000)
INSERT [dbo].[MucGiaDienNuoc] ([MaMucGia], [ThoiGianApDung], [DonGiaDien], [DonGiaNuoc]) VALUES (2, CAST(N'2022-01-01' AS Date), 4000.0000, 5500.0000)
INSERT [dbo].[MucGiaDienNuoc] ([MaMucGia], [ThoiGianApDung], [DonGiaDien], [DonGiaNuoc]) VALUES (3, CAST(N'2023-01-01' AS Date), 4500.0000, 6000.0000)
SET IDENTITY_INSERT [dbo].[MucGiaDienNuoc] OFF
GO
INSERT [dbo].[NamHoc] ([MaNamHoc], [TenNamHoc]) VALUES (N'NH2021    ', N'2021-2022 ')
INSERT [dbo].[NamHoc] ([MaNamHoc], [TenNamHoc]) VALUES (N'NH2022    ', N'2022-2023 ')
INSERT [dbo].[NamHoc] ([MaNamHoc], [TenNamHoc]) VALUES (N'NH2023    ', N'2023-2024 ')
GO
SET IDENTITY_INSERT [dbo].[NoiQuy] ON 

INSERT [dbo].[NoiQuy] ([MaNoiQuy], [NoiDung]) VALUES (1, N'Vi phạm giờ giới nghiêm')
INSERT [dbo].[NoiQuy] ([MaNoiQuy], [NoiDung]) VALUES (2, N'Sử dụng thiết bị điện trái phép')
INSERT [dbo].[NoiQuy] ([MaNoiQuy], [NoiDung]) VALUES (3, N'Gây ồn ào trong ký túc xá')
SET IDENTITY_INSERT [dbo].[NoiQuy] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [VaiTro], [OTP], [Token]) VALUES (1, N'admin', N'123456', N'Admin', NULL, NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [VaiTro], [OTP], [Token]) VALUES (2, N'quanly1', N'123', N'QuanLy', NULL, NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [VaiTro], [OTP], [Token]) VALUES (3, N'Sinh viên01', N'passSinh viên', N'Sinh viên', NULL, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [MaNguoiDung], [HoTen], [GioiTinh], [NgaySinh], [AnhDaiDien], [Email], [SDT], [ChucVu], [TrinhDo]) VALUES (N'NV001', 1, N'Nguyễn Văn B', N'Nam', CAST(N'1985-03-15' AS Date), N'avatar2.jpg', N'nguyenb@example.com', N'0901234567', N'Quản lý', N'Cử nhân CNTT')
INSERT [dbo].[NhanVien] ([MaNV], [MaNguoiDung], [HoTen], [GioiTinh], [NgaySinh], [AnhDaiDien], [Email], [SDT], [ChucVu], [TrinhDo]) VALUES (N'NV002', 2, N'Phạm Thị C', N'Nữ', CAST(N'1990-07-20' AS Date), N'avatar1.jpg', N'phamc@example.com', N'0907654321', N'Thu ngân', N'Cử nhân Kế toán')
INSERT [dbo].[NhanVien] ([MaNV], [MaNguoiDung], [HoTen], [GioiTinh], [NgaySinh], [AnhDaiDien], [Email], [SDT], [ChucVu], [TrinhDo]) VALUES (N'NV003', 3, N'Nguyễn Minh D', N'Nam', CAST(N'1992-11-10' AS Date), N'avatar3.jpg', N'nguyend@example.com', N'0912345678', N'Nhân viên kỹ thuật', N'Thạc sĩ CNTT')
GO
SET IDENTITY_INSERT [dbo].[PhieuThu] ON 

INSERT [dbo].[PhieuThu] ([MaPhieuThu], [MaHopDong], [NgayLap], [TongTien], [TrangThai], [MaNV]) VALUES (1, 1, CAST(N'2024-09-01' AS Date), 1500000.0000, N'Đã thanh toán', N'NV001')
INSERT [dbo].[PhieuThu] ([MaPhieuThu], [MaHopDong], [NgayLap], [TongTien], [TrangThai], [MaNV]) VALUES (2, 2, CAST(N'2024-09-01' AS Date), 1500000.0000, N'Đã thanh toán', N'NV002')
INSERT [dbo].[PhieuThu] ([MaPhieuThu], [MaHopDong], [NgayLap], [TongTien], [TrangThai], [MaNV]) VALUES (3, 3, CAST(N'2024-09-01' AS Date), 1600000.0000, N'Đã thanh toán', N'NV003')
SET IDENTITY_INSERT [dbo].[PhieuThu] OFF
GO
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaLoaiPhong], [MaTang], [TrangThai]) VALUES (N'KTX-01-01', N'Phòng 01-01', N'LP001', N'T1        ', N'1')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaLoaiPhong], [MaTang], [TrangThai]) VALUES (N'KTX-01-02', N'Phòng 01-02', N'LP001', N'T1        ', N'1')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaLoaiPhong], [MaTang], [TrangThai]) VALUES (N'KTX-01-03', N'Phòng 01-03', N'LP001', N'T1        ', N'1')
GO
INSERT [dbo].[SinhVien] ([MaSV], [MaNguoiDung], [HoTen], [GioiTinh], [NgaySinh], [Lop], [SDT], [Email], [SoCanCuoc], [SDTGiaDinh], [SoHoKhau], [TrangThai], [AnhDaiDien], [MaKhoa]) VALUES (N'2001215850', 100, N'Huỳnh Vĩ Khang', N'Nam', N'2002-05-28', N'12DHTH17', N'0767487840', N'huynhvikhang6a13@gmail.com', N'123426789041', N'0930123458', N'85Q30/TPHCM', N'Đang Học', N'vikhang2805.jpg', N'CNTT')
INSERT [dbo].[SinhVien] ([MaSV], [MaNguoiDung], [HoTen], [GioiTinh], [NgaySinh], [Lop], [SDT], [Email], [SoCanCuoc], [SDTGiaDinh], [SoHoKhau], [TrangThai], [AnhDaiDien], [MaKhoa]) VALUES (N'2001216001', 7, N'Nguyễn Văn An', N'Nam', N'2002-01-01', N'KT01', N'0901216001', N'2001216001@example.com', N'123456789001', NULL, NULL, N'Đang học', NULL, N'KT')
INSERT [dbo].[SinhVien] ([MaSV], [MaNguoiDung], [HoTen], [GioiTinh], [NgaySinh], [Lop], [SDT], [Email], [SoCanCuoc], [SDTGiaDinh], [SoHoKhau], [TrangThai], [AnhDaiDien], [MaKhoa]) VALUES (N'2001216002', 8, N'Trần Thị Bình', N'Nữ', N'2002-01-01', N'NN01', N'0901216002', N'2001216002@example.com', N'123456789002', NULL, NULL, N'Đang học', NULL, N'NN')
GO
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (N'T1        ', N'Tầng 1')
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (N'T2        ', N'Tầng 2')
INSERT [dbo].[Tang] ([MaTang], [TenTang]) VALUES (N'T3        ', N'Tầng 3')
GO
INSERT [dbo].[TrangThietBi] ([MaThietBi], [TenThietBi], [MoTa], [SoLuong], [TrangThai]) VALUES (N'TB001', N'Quạt trần', N'Quạt trần 3 cánh, công suất 50W', 50, N'Hoạt động')
INSERT [dbo].[TrangThietBi] ([MaThietBi], [TenThietBi], [MoTa], [SoLuong], [TrangThai]) VALUES (N'TB002', N'Đèn huỳnh quang', N'Đèn ống 1.2m, 36W', 100, N'Hoạt động')
INSERT [dbo].[TrangThietBi] ([MaThietBi], [TenThietBi], [MoTa], [SoLuong], [TrangThai]) VALUES (N'TB003', N'Bàn học', N'Bàn gỗ 1.2m x 0.6m', 60, N'Hoạt động')
GO
SET IDENTITY_INSERT [dbo].[ViPham] ON 

INSERT [dbo].[ViPham] ([MaViPham], [MaSV], [MaNoiQuy], [NgayViPham], [GhiChu], [HinhThucXuLy], [MucDoXuLy], [MaNV], [FileBienBan]) VALUES (2, N'2001216001', 1, CAST(N'2025-05-01' AS Date), N'Vào ký túc xá sau 23h', N'Nhắc nhở lần 1', N'Nhẹ', N'NV001', NULL)
INSERT [dbo].[ViPham] ([MaViPham], [MaSV], [MaNoiQuy], [NgayViPham], [GhiChu], [HinhThucXuLy], [MucDoXuLy], [MaNV], [FileBienBan]) VALUES (3, N'2001216002', 2, CAST(N'2025-05-02' AS Date), N'Sử dụng bếp điện trong phòng', N'Phạt tiền 200,000 VNĐ', N'Trung bình', N'NV001', N'BienBan_001.pdf')
INSERT [dbo].[ViPham] ([MaViPham], [MaSV], [MaNoiQuy], [NgayViPham], [GhiChu], [HinhThucXuLy], [MucDoXuLy], [MaNV], [FileBienBan]) VALUES (4, N'2001216003', 3, CAST(N'2025-05-03' AS Date), N'Hát karaoke gây ồn ào', N'Nhắc nhở lần 2', N'Nhẹ', N'NV001', NULL)
SET IDENTITY_INSERT [dbo].[ViPham] OFF
GO
USE [master]
GO
